.dashboard-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;

  --_dashboard-sidebar-width: 280px;
}

.with-collapsed-sidebar .dashboard-layout {
  --_dashboard-sidebar-width: 72px;
}

.dashboard-content {
  width: 100%;
  padding-left: var(--_dashboard-sidebar-width);
  transition: padding-left 0.3s ease;

  @media screen and (max-width: 768px) {
    padding-left: 0;
  }

  & > .content-header {
    --_dashboard-header-height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--_dashboard-header-height);
    border-bottom: 1px solid var(--neutral-600);

    & .content-header__title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0 1rem;
      font-size: var(--text-lg);
      color: var(--neutral-900);
    }

    & .content-header__icons {
      display: flex;
      align-items: center;
      gap: var(--space-4);
      margin-left: auto;
      padding: 0 1rem;

      & i {
        width: 100%;
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--neutral-900);
        padding: var(--space-4);
        border-radius: var(--rounded-md);
      }
    }
  }

  & .content-body {
    padding: var(--space-16) var(--space-8);
  }
}

.feature-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: var(--space-4);
  padding: var(--space-4) 0;
}
